.taskCardsCommon{max-width: 362.7px;width: 100%;height: 360px;display: flex;align-items: center;justify-content: center;border-radius: 10px;border:1px solid #ede7e7;
position: relative;background-color: #fff;}
.taskCardsCommon a{text-decoration: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;color: #000;
font-weight: 600;font-size: 1.6rem;color: #353f4f;}