.counter_wrap strong{font-size: 3.6rem;font-weight: 500;}
.errorStyles{display: inline-block;padding: 5px 20px;border-radius: 4px;color: #842029;background-color: #f8d7da;border-color: #f5c2c7;}

.counterBtn{background-color: #f25500;padding: 10px 20px;border-radius: 5px;border: 0;cursor: pointer;color: #fff;font-size: 1.4rem;}