.widgetWrapCurrent{display: flex;gap: 20px;border: 1px solid #f25500;padding: 20px;width: 100%;background-color: #fff;border-radius: 10px;margin: 20px auto;
max-width: 529px;}
.widgetWeatherIcon{max-width: 500px;width:100%;padding: 10px;}
.widgetWeatherToday{max-width: 680px;width: 100%;padding: 10px;display:flex;justify-content: center;flex-direction: column;}
.widgetWrapNext{display: flex;gap:10px;margin-top: 20px;}
.widgetWrapNextSingle{max-width: 295px;border:1px solid #ede7e7;padding: 20px;width: 100%;background-color: #fff;border-radius: 10px;}
.widgetWrapNextSingle h4{margin-top: 0px;margin-bottom: 10px;}

.widgetWeatherToday h1{margin: 0px;}
.widgetWeatherToday p{margin: 0;}
.top-wrapper{display: flex;}
.cityInput-Wrapper{position: relative; width: 400px;}
.cityInput-Wrapper input{width: 100%;}
.CitiesList {position: absolute !important; }
.cityItem{cursor: pointer; width: max-content; padding-inline: 1rem;background-color: #ede7e7;}
.cityItem:hover{background-color: #fff;}
.d-none{ display: none;}
.widgetWeatherIcon img{width: 200px;max-width: 100%;}
.searchWidget{display: flex;justify-content: center;align-items: center;gap: 10px;}
.searchWidget input{padding: 9px 10px;border-radius: 5px;border: 1px solid #353f4f;resize: none;min-width: 200px;}
.searchWidget select{padding: 9px 10px;border-radius: 5px;border: 1px solid #353f4f;}

@media (max-width:445px) {
    .widgetWrapCurrent{flex-direction: column;gap: 0;}
    .widgetWeatherIcon img{width: auto;height: 100px;margin-left: -20px;}
    .widgetWeatherIcon{padding-top: 0;padding-bottom: 0;}
}